@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*Seletor por elemento*/
header {
    text-align: center;
}

body{
    background-color: azure;
    color: rgb(18, 18, 18);
    font-family: 'Ronoto';
}

h1{
    font-weight: bold;
}

h2{
    font-style: italic;
}

/*Seletor por ID*/
#informacao {
    font-family: 'Courier New', Courier, monospace;
}

/*Seletor por classe*/
.contatoUl { 
    text-decoration: underline;
}

/*Seletor por atributo*/
a[href] { 
    color: blue;
}

/* Seletor por pseudo-classe*/
a:hover { 
    color: red;
}