header { /*Seletor por elemento*/
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#informacao { /*Seletor por ID*/
    font-family: 'Courier New', Courier, monospace;
}

.contatoUl { /*Seletor por classe*/
    text-decoration: underline;
}

a[href] { /*Seletor por atributo*/
    color: blue
}

a:hover { /* Seletor por pseudo-classe*/
    color: red
}