@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header { /*Seletor por elemento*/
    text-align: center;
}

body{
    background-color: azure;
}

h1{
    font-weight: bold;
}

h2{
    font-style: italic;
}

body {
    font-family: 'Roboto', sans-serif;
}

#informacao { /*Seletor por ID*/
    font-family: 'Courier New', Courier, monospace;
}

.contatoUl { /*Seletor por classe*/
    text-decoration: underline;
}

a[href] { /*Seletor por atributo*/
    color: blue;
}

a:hover { /* Seletor por pseudo-classe*/
    color: red;
}